.connect {
  padding: 66px 0;
  @media (max-width: $mobile) {
    padding: 50px 0;
  }

  &__container {
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: $pc) {
      gap: 16px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }

  }

  &__item {
  }
}


.item-connect {
  text-align: center;
  position: relative;


  &:first-child {
    @include animation(1, 0.8, 0);
    z-index: 3;
  }

  &:nth-child(2) {
    @include animation(1, 0.8, 0.5);
    z-index: 2;
  }

  &:last-child {
    @include animation(1, 0.8, 1);
    z-index: 1;
  }

  &__top {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__image {
    aspect-ratio: 1;
    @media (max-width: $mobile) {
      max-width: 432px;
      margin: 0 auto;
    }

    img {
      max-height: 100%
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 2;
    @media (max-width: $pc) {
      max-width: 162px;
    }
    @media (max-width: 900px) {
      max-width: 130px;
    }
    @media (max-width: $mobile) {
      max-width: 204px;
      bottom: -100px;
      top: auto;
      right: -56px;
      transform: translateY(50%) rotate(90deg);
    }

  }

  &__arrow--2 {
    @media (max-width: $mobile) {
      right: auto;
      left: -56px;
    }
  }


  &__decor {
    position: absolute;
  }

  &__decor--1 {
    font-size: 72px;
    transform: scaleX(-1) rotate(18deg);
    left: percent(18, 432);
    bottom: percent(13, 432);
    @media (max-width: $tablet) {
      font-size: 58px;
    }
    @media (max-width: $mobile) {
      font-size: 72px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 54px;
      left: percent(98, 432);
    }
  }

  &__decor--2 {
    font-size: 40px;
    transform: rotate(-15deg);
    top: percent(10, 432);
    right: percent(41, 432);
    @media (max-width: $tablet) {
      font-size: 32px;
    }
    @media (max-width: $mobile) {
      font-size: 40px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 30px;
      top: percent(20, 432);
      right: percent(145, 432);
    }
  }

  &__decor--3 {
    font-size: 40px;
    top: percent(65, 432);
    left: percent(45, 432);
    transform: rotate(-89.092deg);
    @media (max-width: $tablet) {
      font-size: 32px;
    }
    @media (max-width: $mobile) {
      font-size: 40px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 30px;
    }

  }

  &__decor--4 {
    font-size: 56px;
    transform: rotate(0.468deg);
    top: percent(80, 432);
    right: percent(90, 432);
    @media (max-width: $tablet) {
      font-size: 45px;
    }
    @media (max-width: $mobile) {
      font-size: 56px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 42px;
      right: percent(190, 432);
    }
  }

  &__decor--5 {
    font-size: 64px;
    transform: rotate(-13.627deg);
    bottom: percent(70, 432);
    right: percent(18, 432);
    @media (max-width: $tablet) {
      font-size: 51px;
    }
    @media (max-width: $mobile) {
      font-size: 64px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 47px;
      right: percent(78, 432);
    }
  }

  &__decor--6 {
    font-size: 72px;
    transform: rotate(0.468deg);
    bottom: percent(52, 432);
    left: percent(28, 432);
    @media (max-width: $tablet) {
      font-size: 58px;
    }
    @media (max-width: $mobile) {
      font-size: 72px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 54px;
      left: percent(138, 432);
    }
  }

  &__decor--7 {
    font-size: 40px;
    transform: rotate(-6.458deg);
    top: percent(5, 432);
    right: percent(162, 432);
    @media (max-width: $tablet) {
      font-size: 32px;
    }
    @media (max-width: $mobile) {
      font-size: 40px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 30px;
      right: percent(80, 432);
    }
  }

  &__decor--8 {
    font-size: 64px;
    transform: rotate(13.291deg);
    bottom: percent(9, 432);
    right: percent(30, 432);
    @media (max-width: $tablet) {
      font-size: 51px;
    }
    @media (max-width: $mobile) {
      font-size: 64px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 47px;
      bottom: percent(79, 432);
      right: percent(80, 432);
    }
  }

  &__decor--9 {
    font-size: 56px;
    transform: rotate(-18.59deg);
    left: percent(20, 432);
    bottom: percent(24, 432);
    @media (max-width: $tablet) {
      font-size: 45px;
    }
    @media (max-width: $mobile) {
      font-size: 56px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 42px;
      left: percent(100, 432);
    }
  }

  &__count {
    border-radius: 32px;
    background: var(--white);
    padding: 11px;
    width: 104px;
    text-align: center;
    box-shadow: 0px 10px 24px 0px rgba(24, 17, 34, 0.08);
    font-size: 32px;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: -0.16px;
    color: var(--primary);
    position: relative;
    z-index: 2;
    margin: -64px auto 0;
    @media (max-width: $tablet) {
      width: 82px;
      font-size: 25px;
      padding: 8px;
      margin-top: -50px;
    }
    @media (max-width: $mobile) {
      width: 104px;
      font-size: 32px;
      margin-top: -64px;
      padding: 11px;
    }
    @media (max-width: $mobileSmall) {
      width: 77px;
      padding: 8px;
      font-size: 24px;
      margin-top: -47px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.12px;
    @media (max-width: $mobile) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    line-height: 150%;
    letter-spacing: -0.08px;
    color: #636769;
    @media (max-width: $mobile) {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}