// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --primary: #6F3CFF; // Site main color - (Основний колір сайту)
  --secondary: #FFD900; // Site secondary color - (Додатковий колір сайту)
  --black: #1D1C1E; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
  --dark-gray: #707583; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)
  --gray: #A6AAB4;
  --light-gray: #A6AAB4;
  --white: #FFFFFF;
}
