// Заголовки, загальні БЕМ блоки та інше...
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.4px;
  @media (max-width: $mobile) {
    font-size: 32px;
  }
}

.decor {
  position: absolute;
  z-index: -1;
  width: 546px;
  height: 546px;
  pointer-events: none;

  &--1 {
    top: -120px;
    left: 0;

  }

  &--2 {
    right: 0;
    bottom: -200px;
    @media (max-width: $mobile) {
      bottom: 50px;

    }
  }

  &--3 {;
    left: 0;
    top: -100px;
    transform: translate(0%, -50%);
    @media (max-width: $mobile) {
      top: -400px;
    }
  }

  &--4 {;
    right: 0;
    top: -100px;

    @media (max-width: $mobile) {
      top: 0px;
      transform: translate(0%, -300%);
    }
  }

  &--5 {;
    left: 0;
    top: -100px;
    @media (max-width: $mobile) {
      transform: translate(0%, -340%);
    }
  }
}